# Xilinx Vivado
.vivado/
.xpr
*.jou
*.log
*.backup*
*.cache*
*.hw
*.sdk
*.runs/
*.srcs/
webtalk*

# Verilog simulation
*.vcd
*.vvp
*.vpd
*.shm
*.key
*.sva
*.hbs
*.fsdb
*.log
simv
*.sim
*.wlf
*.xsc
*.jou

# ModelSim
work/
*.mti

# Quartus
/db/
incremental_db/
/simulation/
/output_files/
/db_files/
*.rpt
*.chg
*.htm
*.eqn
*.pin
*.smsg
*.sof
*.summary
*.sta
*.qdf
*.qws
*.qdb
*.qdz
*.qsf
*.qpf
*.qsf~
*.qws~
*.done
*.sld
*.jdi
*.qws_backup/
*.jdi
*.qdb
*.txt
*_timequest
*.sopcinfo
*.cmp
*.ip
*.sopc
*.html
*.qdf

# Questa
*.log
*.log.old
*.do
*.mti
*.tcl
*.rpt
*.stp
*.sva
*.hbs
*.wlf
*.dll
*.key
*.ini
*.bak
*.vstf
*.vpd

# Riviera-PRO
*.aldec*

# VCS
csrc/
simv*
simv.daidir/
ucli.key
vcs.key
.dve*
*simv
*.vpd
*.vdb
*.cb
*.history
